/*---------------------------------------------------------*/
/* General Stylings */
* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

main p {
  max-width: 50ch;
}

body {
  margin: 0;

  /* CUSTOM PROPERTIES */
  /* Color */
  --selection-bgc-hsl: hsl(0, 0%, 21%);
  --selection-color: hsl(60, 57%, 91%);

  --header-text-first-color: hsl(61, 74%, 71%);
  --header-text-second-color: hsl(0, 69%, 41%);
  --header-text-color: var(--header-text-first-color, #ebec7d),
    var(--header-text-second-color, #b12020);

  --header-bgi-first-color: hsl(0, 0%, 100%);
  --header-bgi-second-color: hsl(0, 0%, 6%);
  --header-left-bgi: 150deg, var(--header-bgi-first-color, #ffffff) 5%,
    var(--header-bgi-second-color, #0f0f0f) 50%;
  --header-right-bgi: 210deg, var(--header-bgi-first-color, #ffffff) 5%,
    var(--header-bgi-second-color, #0f0f0f) 50%;

  --footer-bgi: var(--header-bgi-first-color), rgb(15, 15, 15);
  --footer-text: hsl(60, 56%, 91%);

  --profession-emoji-color: hsl(0, 0%, 100%);

  --article-crossline: rgb(22, 25, 26) solid 0.1rem;

  --hire-me-badge-bg: hsl(162, 15%, 38%);
  --hire-me-badge-color: hsl(208, 100%, 97%);
}

a {
  /* Color */
  --nav-link: hsl(246, 79%, 63%);
  --link-hover: hsl(308, 77%, 46%);
  --link-hover-bg: hsla(168, 2%, 48%, 0.2);
  --link-active-dark: hsl(0, 0%, 0%);
  --link-active-light: hsl(241, 100%, 50%);
}

*::selection {
  /*Active color contrast, if the user selects content*/
  /* background-color: hsl(0, 0%, 21%); */
  background-color: var(--selection-bgc-hsl, #000);
  color: var(--selection-color, #f5f5dc);
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

article {
  padding: 0 1.75rem;
}

/*---------------------------------------------------------*/
/* Specific Stylings */

/* .Classes Stylings */
.header {
  padding: 1rem;
  text-align: center;
  background-image: radial-gradient(var(--header-text-color)),
    linear-gradient(var(--header-left-bgi)),
    linear-gradient(var(--header-right-bgi));
  background-size: 100%, 50%, 51% 100%, 50% 100%;
  background-repeat: no-repeat;
  background-position: 50% 100%, 0% 0%, 100% 100%;
  -webkit-background-clip: text, border-box, border-box;
  background-clip: text, border-box, border-box;
}

.header-main {
  /* Div class includes .doc-title and .profession*/
  font-size: 3.5rem;
}

.doc-title {
  /*Main header*/
  padding: 0.5rem;
  text-shadow: -0.1rem 0.1rem 0.25rem; /*Experimental: Creats a shadow for the title. Now only visible if text is selected*/
  font-size: 1em;
  color: transparent;
}

.profession {
  font-size: 0.25em;
  color: transparent;
  font-weight: bold;
}

.profession::after {
  content: "🔬";
  color: var(--profession-emoji-color, white);
}

.main {
  padding: 0.5rem 2rem;
  max-width: 46rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-a {
  /*Navbar Links*/
  color: var(--nav-link, #6556eb);
  font-size: medium;
  margin: 0.1rem;
  padding: 0.4rem;
  border-radius: 15%;
  transition: background-color 300ms ease-in;
}

.exp-header {
  display: flex;
  flex-direction: column;
}

.exp-heading,
.exp-paragraph {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0;
}

.heading {
  position: relative;
  right: 1rem;
}

.hire-me-badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--hire-me-badge-bg, rgb(82, 112, 103));
  border-radius: 10%;
  color: var(--hire-me-badge-color, aliceblue);
  padding: 0.5rem 0.25rem;
  margin: 0.75rem;
  transition: transform 300ms ease-in-out;
}

/*Other Stylings*/

article + article {
  /*Every article, except the first*/
  border-top: var(--article-crossline);
  padding-top: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-image: linear-gradient(var(--footer-bgi));
  color: var(--footer-text, beige);
  font-weight: bold;
}

.footer > a {
  margin-left: 1.5rem;
}

/*---------------------------------------------------------*/
/* Pseudo Class Stylings */

.nav-a:hover {
  color: var(--link-hover, #d11bb9);
  background-color: var(--link-hover-bg, #797e7d33);
  border-radius: 15%;
  transition: background-color 300ms ease-in;
}

.nav-a:focus {
  color: var(--link-hover, #d11bb9);
  background-color: var(--link-hover-bg, #797e7d33);
  border: 1px dashed goldenrod;
  border-radius: 15%;
  transition: background-color 300ms ease-in-out;
}

.nav-a:active {
  color: var(--link-active-light, #0400ff);
}

.contact-a:hover,
.footer > a:hover {
  color: var(--link-hover, #d11bb9);
}

.contact-a:active,
.footer > a:active {
  color: var(--link-active-dark, #000000);
}

.header:hover .hire-me-badge {
  transform: scale(1.2);
}

.header:focus-within .hire-me-badge {
  transform: scale(1.2);
}

/* Breakpoints */
/* ------------------------------------------------------------ */

/* Medium breakpoint */
@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }

  article + article {
    margin-top: 2rem;
  }

  .main-article {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }

  .navigation {
    flex-direction: row;
    justify-content: center;
  }

  .exp-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Large breakpoint */
@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }

  .hire-me-badge {
    position: fixed;
  }

  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

@media print {
  .hire-me-badge {
    display: none;
  }

  nav {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --header-bgi-second-color: hsl(0, 0%, 20%);
    --header-bgi-first-color: hsl(0, 0%, 0%);
    --header-text-first-color: hsl(61, 74%, 51%);
    --header-text-second-color: hsl(0, 69%, 51%);
    --footer-bgi: white, grey;
  }
}
