/*---------------------------------------------------------*/
/* General Stylings */
* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

main p {
  max-width: 50ch;
}

*::selection {
  /*Active color contrast, if the user selects content*/
  background-color: rgb(53, 53, 53);
  color: beige;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

article {
  padding: 0 1.75rem;
}

/*---------------------------------------------------------*/
/* Specific Stylings */

/* .Classes Stylings */
.header {
  padding: 1rem;
  text-align: center;
  background-color: aquamarine;
}

.header-main {
  /* Div class includes .doc-title and .profession*/
  font-size: 3.5rem;
}

.doc-title {
  /*header*/
  padding: 0.5rem;
  text-shadow: -0.1rem 0.1rem 0.25rem; /*Experimental: Creats a shadow for the title*/
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: "🔬";
}

.main {
  padding: 0.5rem 2rem;
  max-width: 46rem;
  margin: 0 auto;
}

.nav-a {
  /*Navbar Links*/
  color: hwb(246 34% 8%);
  font-size: medium;
  margin: 0.5rem;
  padding: 0.4rem;
}

.exp-header {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.heading {
  position: relative;
  right: 1rem;
}

.hire-me-badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(82, 112, 103);
  border-radius: 10%;
  color: aliceblue;
  padding: 0.5rem 0.25rem;
  margin: 0.75rem;
}

/*Other Stylings*/

article + article {
  /*Every article, except the first*/
  border-top: rgb(82, 198, 206) solid 0.1rem;
  padding-top: 1rem;
}

/*---------------------------------------------------------*/
/* Pseudo Class Stylings */

.nav-a:hover {
  color: rgb(209, 27, 185);
  background-color: rgb(66, 248, 233);
}

.nav-a:active {
  color: rgb(4, 0, 255);
}

.contact-a:hover {
  color: rgb(209, 27, 185);
}

.contact-a:active {
  color: black;
}

/* Breakpoints */
/* ------------------------------------------------------------ */
/* Medium breakpoint */
@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }
  article + article {
    margin-top: 2rem;
  }
}

/* Large breakpoint */
@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
  .hire-me-badge {
    position: fixed;
  }
}

@media print {
  .hire-me-badge {
    display: none;
  }
  nav {
    display: none;
  }
}
